<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>管理后台</title>
    <link rel="stylesheet" href="../../static/css/semantic.min.css" th:href="@{css/semantic.min.css}">
    <link rel="stylesheet" href="../../static/css/my.css" th:href="@{/css/my.css}">
</head>
<body>
    <!--导航-->
    <nav th:replace="admin/_fragments :: menu(0)" class="ui inverted attached segment m-padding-tb-middle m-shadow-small">
        <div class="ui container">
            <div class="ui menu secondary inverted stackable">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <div class="right m-item menu m-mobile-hide">
                    <div class="ui dropdown item">
                        <div class="text">
                            <!--<img src="../static/images/cat.jpg" alt="" class="ui avatar image">-->
                            <img src="../../static/images/cat.jpg" th:src="@{/images/cat.jpg}" alt="" class="ui avatar image m-image-size-mini">
                            郑喜亮
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                            <a href="#" class="item">修改个人资料</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" class="item">发布</a>
                <a href="#" class="active item">列表</a>
            </div>
        </div>
    </div>

    <!--中间内容-->
    <div class="m-container-small m-padding-tb-large">
        <div class="ui container">
            <div class="ui success large message">
                <h2>Hi</h2>
                <p>郑喜亮，欢迎登录</p>
            </div>
            <img src="../../static/images/cat.jpg" th:src="@{/images/cat.jpg}" alt="" class="ui rounded bordered fluid image">

        </div>
    </div>


    <!--底部footer-->
    <footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padding-tb-massive m-shadow-small">
        <div class="ui container">
            <div class="ui center aligned inverted divided stackable grid">
                <div class="three wide column">
                    <img src="../../static/images/wechat1.png" th:src="@{/images/wechat1.png}" class="ui rounded image centered" alt="" style="background: #fff; width: 12em; height: 12em;">
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item m-opacity-mini m-text-spaced m-text-thin m-text-lined">用户故事（User Story）</a>
                        <a href="#" class="item m-opacity-mini m-text-spaced m-text-thin m-text-lined">关于可以练习清单</a>
                        <a href="#" class="item m-opacity-mini m-text-spaced m-text-thin m-text-lined">失败要趁早</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item m-opacity-mini m-text-spaced m-text-thin m-text-lined">Email:2844821406@126.com</a>
                        <a href="#" class="item m-opacity-mini m-text-spaced m-text-thin m-text-lined">QQ:2844821406</a>
                    </div>
                </div>
                <div class="five wide column">
                    <h4 class="ui inverted header">最新博客</h4>
                    <p class="ui inverted m-opacity-mini m-text-spaced m-text-thin m-text-lined">这是我的个人博客，欢迎大家交流讨论</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-center-margin m-text-center m-opacity-tiny m-text-spaced m-text-thin">Copyright © 2019-2020 Victor Zheng</p>
        </div>
    </footer>
    <!--/*/<th:block th:replace="_fragments :: script"/*/-->
    <script src="../../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
    <!--/*/</th:block>/*/-->
    <script type="text/javascript">
        $('.menu.toggle').click(function(){
            $('.m-item').toggleClass('m-mobile-hide');
        });
        $('.ui.dropdown').dropdown({
            on:'hover'
        });
    </script>
</body>
</html>